.modalOverlay {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    transition: all ease-out 1s;
}


.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    min-height: 200px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modalHeader {
    padding: 10px 20px;
    min-height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

.modalBody,
.modalFooter {
    padding: 10px 20px;
}

.modalFooter {
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}