$features_bg: #F4F4F4;
$white: #FFFFFF;
$body_bg: #E5E5E5;
$violet: #8D81AC;
$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$fork-color:#FFFFFF;
$fork2color:#8D81AC;
$fork3color:#848E97;
$header_menu_color:#8D81AC;
$weight:bold;
$weight1:normal;
$line-height:24px;
$font-size:16px;
$font-family1:Lato;
$font-family2:Montserrat;
$font-style:italic;
